.overlay {
    position: fixed;
    width:100%;
    left:0;
    top:0;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .drawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width:385px;
    right:0;
    height:100%;
    background-color: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin: 30px;
      font-size: 24px;
      font-weight: 700; 
      word-wrap: break-word;
      display: flex;
      justify-content: space-between;
  
      img {
        cursor: pointer;
      }
    }
    
  .shoppingList{
    flex: 1;
    overflow: auto;
    margin: 0px 30px 40px 30px;
  }

  .shopItem{
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px #f3f3f3 solid;
    border-radius: 20px;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  
    .shopImage {
      width: 70px;
    }

    .shopInfo {
      display: flex;
      flex-direction: column;
      max-width: 150px;
      align-items: flex-start;

      p {
        font-size: 14px;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 8px;
      }

      b {
        font-size: 14px;
        font-weight: 700;
        word-wrap: break-word;
      }
     
    }
  }  
  
  .orderInfo {
    padding:30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .sum, .tax {
      margin-bottom: 19px;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;

    }

    .dush{
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      margin: 0px 5px;
    }

   button {
    position: relative;

    &:hover {
      img{
        transform: translateX(10px);
      }
    }

    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
   }
  }
}



.delete {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.5;
}
.delete:hover {
  opacity: 1;
  transition: all .2 ease-in-out;
}

.cartEmpty {
  display: flex;
  margin: auto;
  
  .cartEmptyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;

    h2 {
      margin: 0;
    }

    p {
      color: #808080;
    }

    button {
      width: 240px;
      background-color: #9DD458;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      padding: 18px 0px;
      border-radius:18px;
      position: relative;

      img {
        transform: rotate(180deg);
        position: absolute;
        left: 30px;
        top: 20px;
        transition: transform 0.2s ease-in-out;
      }

      &:hover {
        background-color: #91c551;
        transition: all .2s ease-in-out;

        img{
          transform: rotate(180deg) translateX(10px);
        }
      }
    }
  }
}