$base-color: #e7f6ff;
$base-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;


* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-color;
  font-family: $base-fonts;
}

button {
  cursor: pointer;
  border: 0px;
  outline: none;
  background-color: transparent;
}

.wrapper {
  margin: 5em auto;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1020px;

  hr {
    background-color: #EAEAEA;
    margin: 0px;
    border: 0px;
    height: 1px;
  }

}

.productPage {
  .headerProducts {
    padding: 1em 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
      font-size: 32px;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  .searchComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 45px;
    box-sizing: border-box;
    padding: 15px 18px;
    border-radius: 10px;
    border: 1px #ececec solid;

    img {
      margin-right: 13px;
    }

    input {
      border: 0;
      font-size: 14px;
      padding: 10px;
      outline: none;
    }

  }

}


.products {
  margin: 0px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-content: space-between;
  flex-flow: wrap;
}


.greenButton {
  background-color: #9DD458;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  padding: 18px 0px;
  border-radius:18px;
}

.greenButton:hover {
  background-color: #91c551;
  transition: all .2s ease-in-out;
}