$base-color: #e7f6ff;
$base-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;


* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-color;
  font-family: $base-fonts;
}

button {
  cursor: pointer;
  border: 0px;
  outline: none;
  background-color: transparent;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

.wrapper {
  margin: 5em auto;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1020px;
  min-height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;

  hr {
    background-color: #EAEAEA;
    margin: 0px;
    border: 0px;
    height: 1px;
  }

}

.productPage {
  .headerProducts {
    padding: 1em 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
      font-size: 32px;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  .searchComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 45px;
    box-sizing: border-box;
    padding: 15px 18px;
    border-radius: 10px;
    border: 1px #ececec solid;

    img {
      margin-right: 13px;
    }

    input {
      border: 0;
      font-size: 14px;
      padding: 10px;
      outline: none;
    }

  }

}



.products {
  margin: 0px 40px 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 210px);
  justify-content: start;
}


.greenButton {
  background-color: #9DD458;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  padding: 18px 0px;
  border-radius: 18px;
}

.greenButton:hover {
  background-color: #91c551;
  transition: all .2s ease-in-out;
}


.resourses {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.res-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  flex: 1;
  align-items: center;

  .res-emoji {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #808080;
    margin-bottom: 50px;
  }

  .greenButton {
    width: 245px;
    position: relative;

    img {
      transform: rotate(180deg);
      position: absolute;
      left: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      background-color: #91c551;
      transition: all .2s ease-in-out;

      img {
        transform: rotate(180deg) translateX(10px);
      }
    }
  }
}

.res-fulled {

  .res-header {
    margin: 40px 40px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .backButtonLink {
    margin-right: 20px;
  }

  .backFav {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #F2F2F2;

    .backButton {
      height: 15px;
      filter: invert(0.5);
      cursor: pointer;
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      .backButton {
        filter: invert(0.8);
      }
    }
  }
}


.overlay {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 385px;
  right: 0;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 30px;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  .shoppingList {
    flex: 1;
    overflow: auto;
    margin: 0px 30px 40px 30px;
  }

  .shopItem {
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px #f3f3f3 solid;
    border-radius: 20px;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .shopImage {
      width: 70px;
    }

    .shopInfo {
      display: flex;
      flex-direction: column;
      max-width: 150px;
      align-items: flex-start;

      p {
        font-size: 14px;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 8px;
      }

      b {
        font-size: 14px;
        font-weight: 700;
        word-wrap: break-word;
      }

    }
  }

  .orderInfo {
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .sum,
    .tax {
      margin-bottom: 19px;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

    }

    .dush {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      margin: 0px 5px;
    }

    button {
      position: relative;

      &:hover {
        img {
          transform: translateX(10px);
        }
      }

      img {
        position: absolute;
        right: 40px;
        top: 20px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}



.delete {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.5;
}

.delete:hover {
  opacity: 1;
  transition: all .2 ease-in-out;
}

.cartEmpty {
  display: flex;
  margin: auto;

  .cartEmptyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;

    h2 {
      margin: 0;
    }

    p {
      color: #808080;
    }

    button {
      width: 240px;
      background-color: #9DD458;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      padding: 18px 0px;
      border-radius: 18px;
      position: relative;

      img {
        transform: rotate(180deg);
        position: absolute;
        left: 30px;
        top: 20px;
        transition: transform 0.2s ease-in-out;
      }

      &:hover {
        background-color: #91c551;
        transition: all .2s ease-in-out;

        img {
          transform: rotate(180deg) translateX(10px);
        }
      }
    }
  }
}




header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 60px;

  .logoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin-right: 1em;
    }

    .logoHeader {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 20px;
        line-height: 24px;
        word-wrap: break-word;
        font-weight: 700;
        color: black;
        padding: 0;
        margin: 0;
      }

      p {
        color: #9D9D9D;
        font-size: 14px;
        line-height: 17px;
        word-wrap: break-word;
        padding: 0;
        margin: 0;
      }
    }

  }

}

.navigation {
  ul {
    display: flex;
    flex-direction: row;

    li:first-child {
      img {
        margin: 0px 5px;
      }

      p {
        color: #5C5C5C;
        font-size: 14px;
        font-weight: 600;
      }
    }

    li {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px 1em;

      img {
        height: 20px;
      }
    }
  }

  li {
    cursor: pointer;
  }

  a {
    display: flex;
  }
}

.orders {
  .products {
    display: flex;
    flex-direction: column;
    margin: 0px 60px 40px;
  }

  .orderCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    gap: 20px;
  }
}